<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title%}CS50 Final{% endblock%}</title>
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('articles') }}">Articles</a>
            <a href="{{ url_for('videos') }}">Videos</a>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <small>&copy; 2025 AndyJingLiu</small>
        </footer>

        <script src="{{ url_for('static', path='script.js') }}"></script>
    </body>
</html>